# Company Names

In [1]:
company_names = ['Apple','Bombardier', 'Cisco', 'Deloitte']
company_names

['Apple', 'Bombardier', 'Cisco', 'Deloitte']

In [2]:
for company in company_names:
    print(company)

Apple
Bombardier
Cisco
Deloitte

In [5]:
#Print companies in list using an alternate method
print(company_names[0])
print(company_names[1])
print(company_names[2])
print(company_names[3])

Apple
Bombardier
Cisco
Deloitte

# Company Revenues

In [9]:
#Loop through a list of company revenues and total them up
company_revenues = [600000, 900000, 1000000, 1100000]

total_revenue = 0

for revenue in company_revenues:
    total_revenue += revenue

total_revenue

3600000

In [10]:
#Alternative method to total company revenues
sum(company_revenues)

3600000

# Company Message

In [11]:
message = "Welcome to Python Programming"
for character in message:
    print(character)

W
e
l
c
o
m
e

t
o

P
y
t
h
o
n

P
r
o
g
r
a
m
m
i
n
g

# Task Execution

In [12]:
#Define a list that contains interger values
my_list = [10, 15, 20]

In [14]:
#Multiply all the elements in the list using a for loop
product = 1
for number in my_list:
    product *= number
product

3000

In [17]:
#Checking the result of the previous loop using a different method
import math
result = math.prod(my_list)
print(result)

3000