# Range Function

In [2]:
#Use the range function in a for loop to iterate through the first five elements
for i in range(0,5):
    print(i)

0
1
2
3
4

In [3]:
#Use the range function with only one parameter
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
#Use the range function with a step size parameter
for i in range(1,5,2):
    print(i)

1
3

# Company Financials

In [5]:
#Define two lists - one list containes company names and the other list contains corresponding revenue values
company_names = ['Apple', 'Facebook', 'Alphabet', 'PwC']
company_revenues = [5000000,10000000,15000000,20000000]

In [6]:
#Print out the first company name along with its corresponding revenue
print("The revenue of {} is: ${}".format(company_names[0],company_revenues[0]))

The revenue of Apple is: $5000000

In [7]:
#Use the len function to determine the range of the list in order to use the range function
print(len(company_names))

4

In [9]:
for i in range (0,len(company_names),2):
    print("index = {}".format(i))
    print("The revenue of {} is: ${}".format(company_names[i],company_revenues[i]))

index = 0
The revenue of Apple is: $5000000
index = 2
The revenue of Alphabet is: $15000000

# Reverse

In [21]:
#Define two lists - one with stock names and the other with stock prices
stock_names = ['Apple', 'Samsung', 'Alibaba', 'Novo Nordisk', 'Naspers']
stock_prices = [142, 45, 12, 125, 30]

In [22]:
#Obtain the total number of elements in the stock names list
print(len(stock_names))

5

In [23]:
#Print out stock names along with their corresponding prices in reverse order
for i in range(len(stock_names) - 1, -1, -1):
    print(f"{stock_names[i]}: ${stock_prices[i]:.2f}")

Naspers: $30.00
Novo Nordisk: $125.00
Alibaba: $12.00
Samsung: $45.00
Apple: $142.00

In [24]:
#Print out stock names along with their corresponding prices in reverse order
for i in range(len(stock_names) - 1, -1, -2):
    print("index value {}".format(i))
    print(f"{stock_names[i]}: ${stock_prices[i]:.2f}")

index value 4
Naspers: $30.00
index value 2
Alibaba: $12.00
index value 0
Apple: $142.00

# Alternative Reversal Method

In [26]:
#Print out stock names along with their corresponding prices in reverse order
for i in reversed(range(len(stock_names))):
    print('index = {}'.format(i))
    print('The price of {} stock = ${}'.format(stock_names[i], stock_prices[i]))

index = 4
The price of Naspers stock = $30
index = 3
The price of Novo Nordisk stock = $125
index = 2
The price of Alibaba stock = $12
index = 1
The price of Samsung stock = $45
index = 0
The price of Apple stock = $142

In [27]:
for i in reversed(range(0, len(stock_names), 2)):
    print('index = {}'.format(i))
    print('The price of {} stock = ${}'.format(stock_names[i], stock_prices[i]))

index = 4
The price of Naspers stock = $30
index = 2
The price of Alibaba stock = $12
index = 0
The price of Apple stock = $142